{% extends "base.html" %}

{% block title %}{{ tag }} | {{ SITENAME }}{% endblock title %}

{% block content %}
<div class="post"><div class="post-archive">
<h1 class="label-title">Articles tagged by <em>{{ tag }}</em></h1>
<ul class="listing">
    {% for article in articles %}
    <li><span class="date">{{ article.date|strftime('%Y/%m/%d') }}</span><a href="/{{ article.url }}">
    {% if article.metadata.get('is_slide', False) %}
            {% include "partials/fa-slide.html" %}
        {% elif article.metadata.get('is_confidential', False) %}
            {% include "partials/fa-lock.html" %}
        {% endif %}
    {{ article.title }}</a></li>
    {% endfor %}
</ul>
</div></div>
{% endblock content %}